/****** Object:  StoredProcedure [dbo].[GetAllDonationAmounts]    Script Date: 10/17/2021 6:19:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[GetAllDonationAmounts]
(
    -- Add the parameters for the stored procedure here
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    SELECT ISNULL(SUM(Payment.Amount), 0) AS Amount 
	FROM dbo.Auction INNER JOIN dbo.Payment WITH (NOLOCK)
	ON Payment.AuctionId = Auction.Id
	WHERE AuctionTypeId = 5 OR AuctionTypeId = 1 OR AuctionId = -1
END
GO
