@{
	ViewData["Title"] = "Login Page";
}
<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
          @using (Html.BeginForm("Login", "Login"))
          {
                <hr>
                <div class="form-group">
                    <label for="Input_UserName">User Name</label>
                    <input class="form-control" autocomplete="username" type="text" data-val="true" data-val-required="The user name field is required." id="Input_UserName" name="Input.UserName" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password">Password</label>
                    <input class="form-control" autocomplete="current-password" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="Input_RememberMe">
                            <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                            Remember me?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-primary" onclick="Login()">Log in</button>
                </div>
            }
        </section>
    </div>
</div>
